* {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  /* background: linear-gradient(-45deg, #e9f151, #c984ca, #23d5ab, #9601fa);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite; */
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.section--title {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.no-list-style {
  list-style-type: none;
  padding: 0;
}

.card--title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

nav {
  width: 100%;
  padding: 1rem;
  font-family: "Vina Sans", sans-serif;
  font-size: 5rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  background: linear-gradient(
    to bottom,
    rgba(26, 26, 26, 1),
    rgba(26, 26, 26, 1),
    rgba(26, 26, 26, 0.9),
    rgba(26, 26, 26, 0.8),
    rgba(26, 26, 26, 0.5),
    rgba(26, 26, 26, 0)
  );
}

.nav--logo {
  letter-spacing: 3px;
  width: 60%;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #e9f151 20%,
    #c984ca 30%,
    #23d5ab 70%,
    #9601fa 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.nav--icons {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding-right: 3rem;
}

.nav--icon {
  height: 3vh;
  margin-left: 1rem;
}

.clear--button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  background-color: black;
  color: #f0ffff;
  border-style: none;
  width: 15vw;
  height: 3vh;
  border-radius: 20px;
  border-width: 0.1rem;
}

.explore--button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  background-color: plum;
  border-style: none;
  width: 10vw;
  height: 3vh;
  border-radius: 20px;
  border-width: 0.1rem;
}

.explore--button:hover {
  animation-name: divcolor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

.season--button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  background-color: plum;
  border-style: none;
  width: 15vw;
  height: 3vh;
  border-radius: 20px;
  border-width: 0.1rem;
}

.season--button:hover {
  animation-name: divcolor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

@keyframes divcolor {
  0% {
    background-color: #fdebff;
  }
  25% {
    background-color: #7600ff;
  }
  50% {
    background-color: #49fce3;
  }
  75% {
    background-color: #fcf202;
  }
  100% {
    background-color: #ff0000;
  }
}

.season--dialog {
  margin: 1rem;
  padding: 1rem 1.5rem;
  width: 50%;
  font-size: 15px;
  list-style-type: none;
  background-color: azure;
  border-color: #1a1a1a;
  border-style: solid;
  text-overflow: ellipsis;
}

.true--crime {
  margin: 2rem;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1.5px;
  list-style-type: none;
  border-color: #1a1a1a;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  text-overflow: ellipsis;
}

.section--heading {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1.5px;
  list-style-type: none;
  color: azure;
  border-color: azure;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  text-overflow: ellipsis;
}

.supabase--container {
  margin: 1rem;
  padding: 1rem;
  width: 93%;
}

.tc--icon {
  height: 5vh;
}

.star--empty {
  height: 1.2rem;
}

.episodes {
  list-style-type: none;
}

.fav--episodes {
  padding: 1rem 1.5rem;
  background-color: #f0ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.fav--image {
  width: 10%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card {
  margin: 1rem;
  padding: 1rem 1.5rem;
  width: 50%;
  font-size: 15px;
  list-style-type: none;
  background-color: red;
  border-color: #1a1a1a;
  border-style: solid;
  text-overflow: ellipsis;
}

.filter {
  margin: 1rem;
  padding: 1rem;
  width: 92%;
  font-size: 14px;
  list-style-type: none;
  color: azure;
  text-overflow: ellipsis;
}

.supa--filter {
  margin: 1rem;
  padding: 1rem;
  width: 92%;
  font-size: 14px;
  list-style-type: none;
  color: azure;
  text-overflow: ellipsis;
}

select {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 20px;
  width: 200px;
  border: none;
  color: #7600ff;
  background-color: #1a1a1a;
}

input[type="text"] {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  width: 50%;
  border: none;
  color: #7600ff;
  background-color: #1a1a1a;
}

.supa--input {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  width: 50%;
  border: none;
  color: #7600ff;
  background-color: #1a1a1a;
}

input:focus-visible {
  outline: none;
}

.filter--label {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.background {
  background: linear-gradient(-45deg, #e9f151, #c984ca, #23d5ab, #9601fa);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cards-list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}


.gray {
  color: #918e9b;
}

.slick-slider {
  position: relative;
  margin: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
  font-size: 15px;
  list-style-type: none;
  color: azure;
  border-color: #1a1a1a;
  border-style: solid;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.arrow--left,
.arrow--right {
  width: 4rem;
}

.arrow--left--PG,
.arrow--right--PG {
  width: 4rem;
}

.custom-arrows-container {
  position: relative;
}

.slider--arrows {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 1rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.slider--arrow-prev {
  left: 0;
}

.slick-prev,
.slick-next {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0px;
  height: 40px;
  line-height: 0;
  margin-top: -10px;
  outline: medium none;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 50vh;
  color: azure;
}
