body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background: linear-gradient(-45deg, #e9f151, #c984ca, #23d5ab, #9601fa);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.section--title {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

nav {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  width: 93%;
  font-family: "Vina Sans", sans-serif;
  color: black;
  background-color: azure;
  font-size: 5rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: #1a1a1a;
  border-style: solid;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 3;
}

.nav--logo {
  width: 60%;
  margin: 1rem;
}

.nav--icons {
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
  align-items: center;
}

.nav--icon {
  height: 3vh;
  margin-left: 1rem; /* Add some spacing between icons */
}

button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  background-color: plum;
  /* border-color: #1a1a1a; */
  border-style: none;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  border-width: 0.1rem;
}

button:hover {
  animation-name: divcolor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

@keyframes divcolor {
  0% {
    background-color: #fdebff;
  }
  25% {
    background-color: #7600ff;
  }
  50% {
    background-color: #49fce3;
  }
  75% {
    background-color: #fcf202;
  }
  100% {
    background-color: #ff0000;
  }
}



.true--crime {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: medium;
  list-style-type: none;
  background-color: greenyellow;
  border-color: #1a1a1a;
  border-style: solid;
  text-overflow: ellipsis;
}

.tc--icon {
  height: 3vh;
}

.card {
  margin: 1rem;
  padding: 1rem 1.5rem;
  width: 50%;
  font-size: 15px;
  list-style-type: none;
  background-color: azure;
  border-color: #1a1a1a;
  border-style: solid;
  text-overflow: ellipsis;
}

.background {
  background: linear-gradient(-45deg, #e9f151, #c984ca, #23d5ab, #9601fa);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

.slick-slider {
  position: relative; /* Make sure the parent container is positioned */
  margin: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
  font-size: 15px;
  list-style-type: none;
  background-color: azure;
  border-color: #1a1a1a;
  border-style: solid;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1; /* Increase the z-index so that it appears above other elements */
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slider--arrows {
  position: absolute; /* Position the arrows relative to the .slick-slider */
  top: 50%; /* Center vertically */
  left: 0; /* Align to the left edge of the .slick-slider */
  right: 0; /* Align to the right edge of the .slick-slider */
  transform: translateY(-50%); /* Center vertically */
  margin: 1rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2; /* Make sure it's above the .slick-slider */
}

.arrow--left,
.arrow--right {
  width: 4rem;
}